{% if page.copyright != false %}
<div style="margin-top:2em;padding:0 1.5em;border:1px solid #d3d3d3;background-color:#deebf7">
  <h3>Article Information</h3>
  <ul>
    <li>Author:<a href="{{ site.url }}" target="_blank">{{ site.author }}</a></li>
    <li>URL:<a href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url }}{{ page.url }}</a></li>
    <li>License: Free to share - NonCommercial - NoDerivatives - Attribution required (<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons BY-NC-ND 4.0 License</a>)</li>
  </ul>
</div>
{% endif %}
